*
**/.vscode/
!lcci/
!lcci/*.cpp
!ds/
!ds/*.cpp
!daily_cpp/
!daily_cpp/*.cpp
!4offer/
!4offer/*.cpp
!tools/
!tools/*.h
!daily_rust/
!daily_rust/
!daily_rust/src/
!daily_rust/src/*.rs
daily_rust/src/main.rs
!README
